@page
@model WomensTechForum2._0.Pages.ForumModel
@using Helpers
@*@inject SignInManager<IdentityUser> SignInManager
*@
@{
    ViewData["Title"] = "Diskussionsforum";
    //var user = await UserManager.GetUserAsync(User);
    //var users = UserManager.Users.ToList();
}

@*<h1 class="display-4">Välkommen till Womens tech forum</h1>*@

@if (Model.MainCategories != null)
{
    @if (Model.ChosenMainCategory != null)
    {
        <h1>@Model.ChosenMainCategory.Name</h1>
        @foreach (var sub in Model.SubCategories.Where(s => s.MainCategoryId == Model.ChosenMainCategory.Id))
        {
            <p class="lead"><a class="text-decoration-none" asp-route-chosenSubId="@sub.Id">@sub.Name</a> <span class="small"> - @sub.Description</span></p>
        }
    }
    else if (Model.ChosenSubCategory != null)
    {
        <section class="p-5">

        <div class="container">
            
       
        <h1 class="text-center display-3">@Model.ChosenSubCategory.Name</h1>


        @if (Model.CurrentUser != null && Model.CurrentUser.Gender != "Man") //Ändrat check av inloggad user
        {
                <button class="btn btn-secondary" onclick="openForm()"><i class="bi bi-plus-lg"></i>Ny tråd <i class="bi bi-arrow-bar-right"></i></button>
            <div class="form-popup" id="myForm">
                <div class="row">
                    <div class="col-md-4">
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NewPost.Header" class="control-label"></label>
                                <input asp-for="NewPost.Header" class="form-control" />
                                <span asp-validation-for="NewPost.Header" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPost.Text" class="control-label"></label>
                                <textarea asp-for="NewPost.Text" class="form-control" rows="5" cols="40"></textarea>
                                <span asp-validation-for="NewPost.Text" class="text-danger"></span>
                            </div>

                            <label asp-for="NewPost.ImageSrc" class="control-label"></label>
                            <input type="file" class="form-control" name="UploadedImage" />

                            <br>
                            <input asp-for="NewPost.SubCategoryId" type="hidden" value="@Model.ChosenSubCategory.Id" />

                            <div class="form-group">
                                <input type="submit" asp-page-handler="NewPost" value="Posta inlägg" class="btn btn-success" />
                                <button type="button" class="btn btn-warning" onclick="closeForm()">Stäng</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        }

        else if (Model.CurrentUser != null && Model.CurrentUser.Gender == "Man")
        {
                <a href="#" class="btn btn-secondary" title="Vill du skapa en ny tråd?" data-bs-toggle="popover" data-bs-content="Du måste vara kvinna för att skapa en ny forumtråd" data-bs-trigger="focus"><i class="bi bi-plus"></i>Ny tråd <i class="bi bi-arrow-bar-right"></i></a>
        }
        else
        {
                <a href="#" class="btn btn-secondary" title="Vill du skapa en ny tråd?" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content="Du måste vara inloggad för att skapa en ny forumtråd <hr><a href='https://localhost:44316/Identity/Account/Login' class='btn btn-primary'>Logga in</a>">Ny tråd <i class="bi bi-arrow-bar-right"></i></a>
        }

        @{var chosenPosts = Model.Posts.Where(p => p.SubCategoryId == Model.ChosenSubCategory.Id);}
        
        @*--Inlägg i SubCategory--*@
        @if (chosenPosts != null && chosenPosts.Any())
        {
            @foreach (var post in chosenPosts)
            {
                
                <div class="card bg-light p-3 m-2">

                <a class="text-decoration-none" asp-route-chosenPostId="@post.Id"><h1 class="display-6 text-dark">@post.Header </h1></a>
                @{int timeSincePost = DateTime.Now.Date.DayOfYear - post.Date.Value.DayOfYear;}
                <p class="text-muted">Postades för @timeSincePost dagar sedan av @Model.Users.FirstOrDefault(u => u.Id == post.UserId).UserName</p>
                
                <p>@post.Text.LimitLength(300)</p>
                @if (post.ImageSrc != null && post.ImageSrc.Any())
                {
                    <img src="~/img/@post.ImageSrc" height="250" />
                }
    
                </div>
            }
        }
        else
        {
            <p>Inga inlägg ännu...</p>
        }

        </div>
        </section>
    }
    else if (Model.ChosenPost != null)
    {
        var writer = Model.Users.Where(u => u.Id == Model.ChosenPost.UserId).FirstOrDefault();
        <!--FirstPost-->
        <div class="bg-info bg-opacity-10">

            <h3>@Model.ChosenPost.Header</h3>
            <p>Skrevs @Model.ChosenPost.Date.Value.ToString("f") av @Model.Users.FirstOrDefault(u => u.Id == Model.ChosenPost.UserId).UserName</p> @*Ändrat till User*@
            <img class="rounded-3" src="~/img/@writer.ImageSrc" height="50">
            <p>@Model.ChosenPost.Text</p>
            @if (Model.ChosenPost.ImageSrc != null && Model.ChosenPost.ImageSrc.Any())
            {
                <img src="~/img/@Model.ChosenPost.ImageSrc" height="250" />
            }
            <br>
            @if (Model.CurrentUser != null && Model.CurrentUser.Id == Model.ChosenPost.UserId) //Ändrat till CurrentUser från user
            {
                <a asp-route-deleteid="@Model.ChosenPost.Id" class="btn btn-primary">Ta bort</a>
            }

            @if (Model.CurrentUser != null && Model.CurrentUser.Gender != "Man") //Ändrat check av inloggad user från signinmanager
            {

                <button class="btn btn-secondary" onclick="openForm()">Svara</button>



                <!--Anmälfunktion-->

                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                    Anmäl inlägg
                </button>
                @if (Model.CheckIfLiked(Model.ChosenPost.Id, Model.CurrentUser.Id))
                {
                    <a asp-route-unlikepostid="@Model.ChosenPost.Id"><i class="bi bi-heart-fill text-danger mx-1"></i></a>
                }
                else
                {
                    <a asp-route-likepostid="@Model.ChosenPost.Id"><i class="bi bi-heart text-danger mx-1"></i></a>
                }

                var count = @Model.LikedPosts.Where(p => p.PostId == Model.ChosenPost.Id).Count();
                <span>Likes: @count</span>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Anmälan</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Vill du verkligen anmäla inlägget?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">

                                <a asp-route-changeId="@Model.ChosenPost.Id" class="btn btn-danger">Ja</a>

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nej</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-popup" id="myForm">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="NewPostThread.Text" class="control-label"></label>
                                    <textarea asp-for="NewPostThread.Text" class="form-control" rows="5" cols="40"></textarea>
                                    <span asp-validation-for="NewPostThread.Text" class="text-danger"></span>
                                </div>

                                <label asp-for="NewPostThread.ImageSrc" class="control-label"></label>
                                <input type="file" class="form-control" name="UploadedImage" />

                                <br>
                                <input asp-for="NewPostThread.PostId" type="hidden" value="@Model.ChosenPost.Id" />

                                <div class="form-group">
                                    <input type="submit" asp-page-handler="NewPostThread" value="Svara" class="btn btn-success" />
                                    <button type="button" class="btn btn-warning" onclick="closeForm()">Stäng</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>

            }
            else if (Model.CurrentUser != null && Model.CurrentUser.Gender == "Man")
            {
                <a href="#" class="btn btn-secondary" title="Vill du delta i tråden?" data-bs-toggle="popover" data-bs-content="Du måste vara kvinna för att svara på inläggen" data-bs-trigger="focus">Svara</a>
            }
            else

            {
                <a href="#" class="btn btn-secondary" title="Vill du delta i tråden?" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content="Logga in för att svara på inläggen <hr><a href='https://localhost:44316/Identity/Account/Login' class='btn btn-primary'>Logga in</a>">Svara</a>
                <a href="#" class="btn btn-outline-danger" title="Vill du anmäla inlägget?" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content="Logga in för att anmäla ett inlägg <hr><a href='https://localhost:44316/Identity/Account/Login' class='btn btn-primary'>Logga in</a>">Anmäl inlägg</a>
            }
        </div>

        @*Post Threads*@
        var chosenPostThreads = Model.PostThreads.Where(p => p.PostId == Model.ChosenPost.Id);
        if (chosenPostThreads != null && chosenPostThreads.Any())
        {
            @foreach (var postthread in chosenPostThreads)
            {

                var ptWriter = Model.Users.Where(u => u.Id == postthread.UserId).FirstOrDefault();
                var originalWriterId = Model.Posts.FirstOrDefault(u => u.Id == postthread.PostId).UserId;
                var originalWriter = Model.Users.FirstOrDefault(u => u.Id == originalWriterId);
                var color = ptWriter.Id == originalWriter.Id ? "bg-info bg-opacity-10" : "";

                <hr />
                <div class="@color">
                    <p>Skrevs @postthread.Date.Value.ToString("f") av @Model.Users.FirstOrDefault(u => u.Id == @postthread.UserId).UserName</p> @*Ändrat från users*@
                    <img class="rounded-3" src="~/img/@ptWriter.ImageSrc" height="50">
                    @if (postthread.PTAnswerId != null)
                    {
                        var pt = Model.PostThreads.FirstOrDefault(p => p.Id == postthread.PTAnswerId);
                        var ptwriter = Model.Users.FirstOrDefault(u => u.Id == pt.UserId);
                        <p class="bg-light text-muted">@ptwriter.UserName skrev: @pt.Text</p>
                    }

                    <p>@postthread.Text</p>
                    @if (postthread.ImageSrc != null && postthread.ImageSrc.Any())
                    {
                        <img src="~/img/@postthread.ImageSrc" height="250" />
                    }
                    <br />
                    @if (Model.CurrentUser != null && Model.CurrentUser.Id == postthread.UserId) //ändrat från user
                    {
                        <a asp-route-deletePTid="@postthread.Id" class="btn btn-primary">Ta bort</a>
                    }
                    @if (Model.CurrentUser != null) //Ändrat check av inloggad user från signinmanager
                    {
                        @if (Model.CurrentUser.Gender != "Man")
                        {
                            <button class="btn btn-secondary" onclick="openPTForm(@postthread.Id)">Svara</button>
                            @*<button class="btn btn-secondary" onclick="openPTForm()">Svara</button>*@
                            <a data-modal-postthread-id="@postthread.Id" class="btn btn-danger text-white p-1 modal-PT-trigger">Anmäl inlägg</a>
                        }
                        @if (Model.CheckIfPTLiked(postthread.Id, Model.CurrentUser.Id))
                        {
                            <a asp-route-unlikePTid="@postthread.Id"><i class="bi bi-heart-fill text-danger mx-1"></i></a>
                        }
                        else
                        {
                            <a asp-route-likePTid="@postthread.Id"><i class="bi bi-heart text-danger mx-1"></i></a>
                        }

                        var count = @Model.LikedPostThreads.Where(p => p.PostThreadId == postthread.Id).Count();
                        <span>Likes: @count</span>
                    }
                    else
                    {
                        <a href="#" class="btn btn-secondary" title="Vill du delta i tråden?" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content="Logga in för att svara på inläggen <hr><a href='https://localhost:44316/Identity/Account/Login' class='btn btn-primary'>Logga in</a>">Svara</a>
                        <a href="#" class="btn btn-outline-danger" title="Vill du anmäla inlägget?" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content="Logga in för att anmäla ett inlägg <hr><a href='https://localhost:44316/Identity/Account/Login' class='btn btn-primary'>Logga in</a>">Anmäl inlägg</a>
                    }

                    <div class="form-popup myPTForm-@postthread.Id">
                        <div class="row">
                            <div class="col-md-4">
                                <form method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="NewPostThread.Text" class="control-label"></label>
                                        <textarea asp-for="NewPostThread.Text" class="form-control" rows="5" cols="40"></textarea>
                                        <span asp-validation-for="NewPostThread.Text" class="text-danger"></span>
                                    </div>

                                    <label asp-for="NewPostThread.ImageSrc" class="control-label"></label>
                                    <input type="file" class="form-control" name="UploadedImage" />

                                    <br>
                                    <input asp-for="NewPostThread.PostId" type="hidden" value="@Model.ChosenPost.Id" />
                                    <input asp-for="NewPostThread.PTAnswerId" type="hidden" value="@postthread.Id" />
                                    <div class="form-group">
                                        <input type="submit" asp-page-handler="NewPostThread" value="Svara" class="btn btn-success" />
                                        <button type="button" class="btn btn-warning" onclick="closePTForm(@postthread.Id)">Stäng</button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
        else
        {
            <hr />
            <p>Inga svar ännu...</p>
        }

    }

    else
    {
        @foreach (var cat in Model.MainCategories)
        {
            <a class="text-decoration-none" asp-route-chosenMainId="@cat.Id"><h1 class="display-4 text-black">@cat.Name </h1></a>
            @foreach (var sub in Model.SubCategories.Where(s => s.MainCategoryId == cat.Id))
            {
                <p class="lead"><a class="text-decoration-none" asp-route-chosenSubId="@sub.Id">@sub.Name</a> <span class="small"> - @sub.Description</span></p>

            }
        }
    }
}




<!-- The Modal anmälan postthread -->
<div class="modal" id="myPTModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Anmälan</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p>Vill du verkligen anmäla inlägget?</p>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                @*                <a id="confirmReport" asp-route-changeId="" class="btn btn-danger">Ja</a>
                *@               <a href="#" id="confirmReport" class="btn btn-danger">Ja</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nej</button>
            </div>
        </div>
    </div>
</div>
